<template>
  <div class="container">
      <div class="card rounded-0">
        <div class="card-body">
  
          <div class="row">
            <div class="col-md-4">
              <p class="info-title">Contact Me</p>
                <ul>
                  <li><span><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:harris@altuz.co" target="_top">harris@altuz.co</a></span></li>
                  <li><span><i class="fa fa-phone" aria-hidden="true"></i></span>+6684 150 6425</li>
                </ul>
              <p class="info-title">Follow Altuz</p>
              <ul>
                <li><a href="https://www.facebook.com/altuz.co/" target="blank"><span><i class="fa fa-facebook" aria-hidden="true"></i></span> Facebook</a></li>
                <li><a href="https://twitter.com/_samkharris" target="blank"><span><i class="fa fa-twitter" aria-hidden="true"></i></span> Twitter</a></li>
                <li><a href="https://www.linkedin.com/in/harriskunakira" target="blank"><span><i class="fa fa-linkedin" aria-hidden="true"></i></span> LinkedIn</a></li>

              </ul>
            </div>
            <div class="col-md-8">
              <form>
                <div class="row">

                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="exampleFormControlInput1">Your Email:</label>
                      <input type="email" class="form-control rounded-0">
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="exampleFormControlInput1">Phone Number:</label>
                      <input type="text" class="form-control rounded-0">
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="exampleFormControlInput1">Title:</label>
                      <input type="text" class="form-control rounded-0">
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="contact-subject">Subject:</label>
                      <select class="form-control rounded-0" id="contact-subject">
                        <option>General</option>
                        <option>Technical Support</option>
                        <option>Others</option>
                      </select>
                    </div>
                  </div>

                  
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="content">Content:</label>
                      <textarea class="form-control rounded-0" id="content" rows="10"></textarea>
                    </div>
                  </div>
    
                  <div class="col-md-12">
                    <div class="text-center">
                      <button type="submit" class="btn btn-outline-danger rounded-0">Clear</button>
                      <button type="submit" class="btn btn-outline-success rounded-0">Submit</button>
                    </div>
                  </div>
                
                </div>
              </form>
            </div>
          </div>
  
        </div>
      </div>
  </div>
</template>


<style lang="stylus" scoped>
@import '~@/assets/styles/_variable.stylus'

.card
  background-color: rgba(255,255,255,0.8)
  padding: 30px
  margin-top: 10%
  margin-bottom: 10%
  .card-body
    color: grey-3
    a
      display: inline-block
      color: pastel-green
      &:hover
        color: pastel-pink
        text-decoration: none
      i
        width: 30px
    ul
      padding-left: 15px
      list-style: none
      li>span>i
        width: 30px

.info-title
  font-weight: bold

h2
  font-weight: bold
label
  font-weight: bold
.btn
  width: 120px
</style>