<template>
  <div>
    <div id="particles-bg"></div>
    <div id="feature-content-wrapper" class="row justify-content-md-center">
      <div class="col-md-6 order-12 order-md-1 d-none d-xl-block">
          <div class="col-12 col-xl-10 ml-auto feature-image-container d-none d-xl-block">
              <img src="~@/assets/feature-img.svg" alt="feature-image">
          </div>
      </div>
      <div class="col-xl-6 order-1 order-md-12">
          <div id="feature-text-1" class="col-md-12 col-xl-10 mr-auto">
            <div id="feature-text-1-content">
              <p>You can focus on your business,</p>
              <p>and let us take care of all the IT hassles.</p>
            </div>
          </div>
          <div id="feature-text-2" class="col-md-12 col-xl-10 mr-auto">
              <div class="animated-text">
              <p>We provide services with</p>
                <p class="rotate-text text-center" :value="rotateText">{{ rotateWords[wordIndex] }}</p>
              <p>in mind</p>
            </div>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
import 'particles.js'
import particlesJSConfig from './../../assets/particles.json'
const particlesJS = window.particlesJS

export default {
  data () {
    return {
      rotateWords: ['Quailty', 'Agility', 'Scalability', 'integrity'],
      wordIndex: 0,
      config: particlesJSConfig
    }
  },
  computed: {
    rotateText () {
      setInterval(() => {
        this.wordIndex++
        if (this.wordIndex === this.rotateWords.length) {
          this.wordIndex = 0
        }
      }, 4000)
    }
  },
  methods: {
    particles () {
      particlesJS('particles-bg', this.config)
    }
  },
  mounted () {
    require('particles.js')
    this.$nextTick(() => {
      this.particles()
    })
  }
}
</script>

<style lang="stylus" scoped>
#particles-bg
  position: absolute
  z-index: 1
  height: 80vh
  width: 100%
  background: linear-gradient(to bottom, lighten(#1f5fa5, 10%), darken(#1f5fa5, 40%)) center center no-repeat
  #particles-js-canvas-el
    display: inline-block
    vertical-align: baseline


#feature-content-wrapper
  height: 80vh
  margin-right: 0
  margin-left: 0 

.feature-image-container
  position: relative
  text-align: center
  height: 100%
  // padding: 50px
  img
    position: absolute
    z-index: 1000 
    top: 50%
    left: 50% 
    height: auto
    width: auto
    max-height: 450px
    max-width: 450px
    transform: translate(-50%, -50%)


// #feature-texts
//   display: flex 
//   position: relative
//   vertical-align: middle

#feature-text-1
  display: table
  text-align: center
  min-height: 150px
  height: 50%
  padding: 0 30px
  #feature-text-1-content
    display: table-cell
    vertical-align: middle
    p
      display: block
      position: relative
      font-size: 2rem
      margin: 0
      font-weight: bold
      z-index: 100
      color: #ffe6aa
    @media screen and (max-width: 700px)
      p
        font-size: 1.5rem

#feature-text-2
  display: flex
  text-align: center
  height: 50%
  color: white
  font-family: 'Quicksand', sans-serif
  position: relative

.animated-text
  position: relative
  z-index: 100 
  max-width: 370px
  min-width: 300px
  display: block
  margin: 0 auto
  p
    font-size: 2rem
    width: 100%
    text-align: center
    &:first-child
      margin-bottom: -20px
    &:last-child
      margin-top: -30px
  .rotate-text
    font-size: 4.5rem
    opacity: 0
    animation: rotateWord 4s ease-in-out infinite
  @media screen and (max-width: 600px)
    .rotate-text
      font-size: 3.5rem
  @media screen and (max-width: 700px)
    p
      font-size: 1.5rem  

@keyframes rotateWord
  5%
    opacity: 0
    transform: translateX(-20px)
  30%, 70%
    opacity: 1
    transform: translateX(0)
  95%
    opacity: 0
    transform: translateX(20px)


// @media screen and (max-width: 600px)

</style>
