<template>
  <div class="navbar footer">
      <p>FOLLOW US</p>
      <ul class="navbar-nav">
        <li class="nav-item text-center" id="social-media-icons">
          <a href="https://www.facebook.com/altuz.co" target="blank"><span><i class="fa fa-facebook" aria-hidden="true"></i></span></a>
          <a href="https://twitter.com/AltuzCo" target="blank"><span><i class="fa fa-twitter" aria-hidden="true"></i></span></a>
          <a href="https://www.linkedin.com/company/altuz/" target="blank"><span><i class="fa fa-linkedin" aria-hidden="true"></i></span></a>
          <a href="http://line.me/ti/p/%40uou7728k" target="blank"><span id="line-app">Line</span></a>
        </li>
        <span class="copyright text-center">Copyright &copy; {{ year }} altuz.co All Rights Reserved</span>
      </ul>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        year: new Date().getFullYear()
      }
    }
  }
</script>

<style lang="stylus" scoped>
@import '~@/assets/styles/_variable.stylus'

.footer
  display: block
  position: absolute
  width: 100%
  // height: 50px
  background-color: white
  p
    color: #808080
    text-align: center
    font-weight: bold
    margin: 5px

#social-media-icons
  a
    display: inline-table
    margin: 0 5px
    border: solid grey-3 1px
    border-radius: 50%
    width: 40px
    height: 40px
    color: grey-3
    vertical-align: top 
    &:hover
      color: pastel-green
      border: solid pastel-green 1px
      text-decoration: none
    span
      display: table-cell
      line-height: 100%
      height: 100%
      vertical-align: middle
      text-decoration: none
      &#line-app
        font-weight: bold
        font-size: 0.8rem

.copyright
  padding-top: 5px
  font-size: 0.8rem
  color: gray
</style>
