<template>
  <nav class="navbar navbar-expand-lg navbar-light sticky-top" :class="{'navbar-large': !shrinkNav, 'navbar-small': shrinkNav}">
    <router-link class="navbar-brand" :to="{name: `Homepage`, params: { locale: currentLocale.code }}"><img src="~@/assets/altuz-logo.svg" alt="altuz-logo"></router-link>
    <button @click="toggle" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" :class="{'show-collapse': showCollapse}">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <router-link :to="{name: `Homepage`, params: { locale: currentLocale.code }}" class="nav-link">{{ $t('home') }}</router-link>
        </li>
        <li class="nav-item">
          <router-link :to="{name: `WorksDefault`, params: { locale: currentLocale.code }}" class="nav-link">{{ $t('works') }}</router-link>
        </li>
        <!-- <li class="nav-item">
          <router-link :to="{name: 'About'}" class="nav-link">About</router-link>
        </li> -->
        <li class="nav-item">
          <router-link :to="{name: `Contact`, params: { locale: currentLocale.code }}" class="nav-link">{{ $t('contact') }}</router-link>
        </li>

        <li class="nav-item dropdown flag-icon-menu">
            <a class="nav-link dropdown-toggle" href="#" id="current-language" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <!-- Current Language -->
              <!-- <div v-for="language in localeList">
                <div v-if="language.code === currentLocale"> -->
                  <img :src="require('@/assets/images/flags/' + currentLocale.flagIcon )" alt="flag"  class="flag-icon"><p>{{ currentLocale.code }}</p>
                <!-- </div>
              </div> -->
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <!-- Language List -->
              <div v-for="language in localeList">  
                <router-link :to="{name: $route.name, params: { locale: language.code }, force: true}" class="dropdown-item" @click.native="setLocale( language.code )"><img :src="require('@/assets/images/flags/' + language.flagIcon)" alt="flag" class="flag-icon"><p>{{ `${language.code} - ${language.name}` }}</p></router-link>
              </div>
            </div>
        </li>

        <li class="nav-item text-center" id="social-media-icons-wrapper">
          <div id="social-media-icons">
            <a href="https://www.facebook.com/altuz.co" target="blank"><span><i class="fa fa-facebook" aria-hidden="true"></i></span></a>
            <a href="https://twitter.com/AltuzCo" target="blank"><span><i class="fa fa-twitter" aria-hidden="true"></i></span></a>
            <a href="https://www.linkedin.com/company/altuz/" target="blank"><span><i class="fa fa-linkedin" aria-hidden="true"></i></span></a>
            <a href="http://line.me/ti/p/%40uou7728k" target="blank"><span id="line-app">Line</span></a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</template>

<i18n>
en:
  home: "Home"
  works: "Works"
  contact: "Contact"
th:
  home: "หน้าแรก"
  works: "ผลงาน"
  contact: "ติดต่อเรา"
</i18n>

<script>
export default {
  data () {
    return {
      showCollapse: false,
      shrinkNav: false,
      locale: 'th',
      currentLocale: this.$store.getters.locale,
      localeList: [
        {name: 'english', code: 'en', flagIcon: 'uk.png'},
        {name: 'thai', code: 'th', flagIcon: 'thailand.png'}
      ]
    }
  },
  methods: {
    toggle () {
      this.showCollapse = !this.showCollapse
    },
    resizeNav () {
      let scroll = document.documentElement.scrollTop
      setTimeout(() => {
        if (scroll > 100) {
          this.shrinkNav = true
        } else {
          this.shrinkNav = false
        }
      }, 100)
    },
    setLocale (val) {
      for (let locale of this.localeList) {
        if (locale.code === val) {
          this.$store.commit('locale', locale)
          this.currentLocale = this.$store.getters.locale
          location.reload()
        }
      }
    }
  },
  created () {
    window.addEventListener('scroll', this.resizeNav)
  },
  mounted () {
    $('#current-language').dropdown()
  },
  destroyed () {
    window.removeEventListener('scroll', this.resizeNav)
  }
}
</script>



<style lang="stylus" scoped>
@import url('https://fonts.googleapis.com/css?family=Playfair+Display')
@import '~@/assets/styles/_variable.stylus'

.show-collapse
  display: block

.navbar
  transition: .3s all

.navbar-small
  z-index: 1000
  background-color: rgba(255,255,255, 1)
  box-shadow: 0 0 2px grey-3
  padding: 0 50px
  .nav-item
    padding: 0 10px
    .nav-link
      color: grey-3
      &:hover
        color: pastel-green
        border-bottom: solid pastel-green 1px
  .navbar-brand
    font-family: 'Playfair Display', serif
    font-size: 2rem
    width: 150px
    color: #3aaaaf
    text-align: center
    display: table
    vertical-align: middle
    padding: 10px 0 
    img
      display: table-cell
      height: 40px
      width: auto
  #social-media-icons
    width: 175px 
    overflow: hidden
    a
      display: inline-table
      margin: 5px 5px
      border: solid grey-3 1px
      border-radius: 50%
      width: 30px
      height: 30px
      color: grey-3
      vertical-align: middle
      &:hover
        color: pastel-green
        border: solid pastel-green 1px
        text-decoration: none 
      span
        display: table-cell
        line-height: 100%
        height: 100%
        vertical-align: middle
        &#line-app
          font-weight: bold
          font-size: 0.7rem

.navbar-large
  // box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2)
  z-index: 1000
  background-color: rgba(255,255,255, 1)
  box-shadow: 0 0 2px grey-3
  padding: 20px 50px
  .nav-item
    padding: 0 10px
    .nav-link
      color: grey-3
      font-size: 1.2rem
      &:hover
        color: pastel-green
        border-bottom: solid pastel-green 1px
  .navbar-brand
    font-family: 'Playfair Display', serif
    font-size: 3rem
    color: #3aaaaf
    width: 150px
    text-align: center
    display: table
    vertical-align: middle
    img
      display: table-cell
      height: 50px
      width: auto 
  #social-media-icons
    width: 215px 
    overflow: hidden
    a
      display: inline-table
      margin: 0 5px
      border: solid grey-3 1px
      border-radius: 50%
      width: 40px
      height: 40px
      color: grey-3
      vertical-align: middle 
      &:hover
        color: pastel-green
        border: solid pastel-green 1px
        text-decoration: none
      span
        display: table-cell
        line-height: 100%
        height: 100%
        vertical-align: middle
        &#line-app
          font-weight: bold
          font-size: 0.8rem

.flag-icon-menu
  .dropdown-item
    padding-top: 10px
    padding-bottom: 10px
  .flag-icon
    // border-radius: 5px
    display: inline-flex
    height: 20px
    width: auto
  p
    display: inline-flex
    text-transform: uppercase
    margin: 0 10px

a#current-language
  display: block
  width: 110px 
  &:hover
    border-bottom: none

</style>
