<template>
  <div class="container-fluid">
    <div class="col-12 col-md-10 col-lg-8 mr-auto ml-auto">
      <div class="card rounded-0">
        <div class="card-body">
  
        </div>
    </div>
    </div>
  </div>
</template>

<style lang="stylus" scoped>

.card
  margin-top: 5%
</style>
