<template>
  <div class="container">
      <div class="card rounded-0">
        <div class="card-body">
  
          <div class="row">
            <div class="col-12 col-md-4 contact-image">
              <img src="~@/assets/contact-us-02.png" alt="contact">
            </div>
            <div class="col-12 col-md-8">
              <div class="text-center">
                <h1>{{ $t('contact-title') }}</h1>
                <p class="contact-excerpt">{{ $t('contact-excerpt') }}</p>
                <!-- <a class="btn" href="javascript:void(window.tawkAPI.toggle())">{{ $t(`message-btn`) }}</a> -->
              </div>
              <hr>
              <div class="row contact-info justify-content-center">
                <div class="contact-detail">
                  <h2 class="info-title">{{ $t('contact-info') }}</h2>
                  <ul>
                    <li>
                      <i class="fa fa-building" aria-hidden="true"></i>
                      <p>189/8, Sammakorn Village, Ramkamheang 110, Bangkok, 10240</p>
                    </li>
                    <li>
                      <i class="fa fa-phone" aria-hidden="true"></i>
                      <p>+6684 150 6425</p>
                    </li>
                    <li>
                      <i class="fa fa-envelope-o" aria-hidden="true"></i>
                      <a href="mailto:harris@altuz.co" target="_top">harris@altuz.co</a>
                    </li>
                  </ul>
                </div>
                <div class="follow">
                  <h2 class="info-title">Follow Us Here</h2>
                  <ul>
                    <li><a href="https://www.facebook.com/altuz.co/" target="blank"><span><i class="fa fa-facebook" aria-hidden="true"></i></span> Facebook</a></li>
                    <li><a href="https://twitter.com/_samkharris" target="blank"><span><i class="fa fa-twitter" aria-hidden="true"></i></span> Twitter</a></li>
                    <li><a href="https://www.linkedin.com/in/harriskunakira" target="blank"><span><i class="fa fa-linkedin" aria-hidden="true"></i></span> LinkedIn</a></li>
                  </ul>
                </div>                
              </div>
            </div>
          </div>
  
        </div>
      </div>
  </div>
</template>

<i18n>
en:
  contact-title: "Contact Us"
  contact-excerpt: 'Hi there, thank you for checking out the website. If there are any inquiries, please sent us a message and we will get back to you ASAP!'
  message-btn: "Message Us Now!"
  contact-info: "Contact Info"
th:
  contact-title: "ติดต่อเรา"
  contact-excerpt: "ขอบคุณทุกท่านที่เข้ามาเยี่ยมชมเว็บไซต์ของเรา หากมีปัญหาสงสัยหรือต้องการสอบถามเพิ่มเติมเกี่ยวกับบริการของเรา กรุณาติตด่อเราตามที่อยู่ด้านล่างนี้"
  message-btn: "Message Us Now!"
  contact-info: "Contact Info"
</i18n>

<script>
export default {
  data () {
    return {
    }
  },
  methods: {
    // popLiveChat () {
    //   window.tawkAPI.toggle()
    // }
  }
}
</script>


<style lang="stylus" scoped>
@import '~@/assets/styles/_variable.stylus'

.contact-info
  margin-top: 20px
  width: 100%
  text-align: center
  a
    display: inline-block
    color: pastel-green
    &:hover
      color: pastel-pink
      text-decoration: none
    i
      width: 30px
  ul
    padding-left: 0
    list-style: none
    display: table
    li
      i
        display: table-cell
        width: 30px
      p, a
        text-align: left  
        display: table-cell
  .contact-detail, .follow
    min-width: 200px
    max-width: 250px
    margin: 0 20px 
    h2
      text-align: center
      font-size: 1rem
      font-weight: bold
      margin-bottom: 15px
  .follow
    ul
      margin-left: 40px


hr
  margin: 30px 0
.card
  background-color: rgba(255,255,255,0.8)
  padding: 30px
  margin-top: 10%
  margin-bottom: 10%
  .card-body
    color: grey-3

.info-title
  font-weight: bold

h2
  font-weight: bold
label
  font-weight: bold

.btn
  margin: 0 auto
  // padding:  15px 70px
  width: 100%
  max-width: 200px
  font-size: 1rem
  font-weight: bold
  background-color: #fff
  color: pastel-red
  border: solid 1px pastel-red
  border-radius: 0
  &:hover
    background-color: lighten(pastel-red, 20%)
    color: #fff
    border: solid 1px pastel-red

.contact-excerpt
  display: block
  text-align: center
  max-width: 550px
  margin: 10px auto

.contact-image
  img
    width: 100%
    margin-bottom: 40px 
</style>