<template>
  <div>

    <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-xl-10 ml-auto mr-auto">
            <div class="card rounded-0">
              <div class="card-body text-center">
                <h1>{{ $t('our-works') }}</h1>
                <p>Comming soon!</p>
                <p>{{ $t('explain') }}</p>
                <router-link :to="{name: 'Contact'}" tag="button" class="btn btn-outline-success rounded-0">{{ $t('contact-us') }}</router-link>
              </div>
              <!-- <nav class="nav nav-pills nav-justified flex-column flex-sm-row">
                <router-link :to="{name: 'WebDesign'}" class="nav-item nav-link" :class="{'active': activeClass === 'WebDesign' ? true : false || $route.path === '/works/'}" @click.native="addActiveClass()">Web Design</router-link>
                <router-link :to="{name: 'WebApp'}" class="nav-item nav-link" :class="{'active': activeClass === 'WebApp' ? true : false}" @click.native="addActiveClass()">Web Apps</router-link>
                <router-link :to="{name: 'MobileApp'}" class="nav-item nav-link" :class="{'active': activeClass === 'MobileApp' ? true : false}" @click.native="addActiveClass()">Mobile Apps</router-link>
                <router-link :to="{name: 'GraphicDesign'}" class="nav-item nav-link" :class="{'active': activeClass === 'GraphicDesign' ? true : false}" @click.native="addActiveClass()">Graphic Design</router-link>
              </nav>
              <div class="card-body">
                  <transition name="fade" mode="out-in" appear>
                    <router-view></router-view>
                  </transition>
              </div> -->
            </div>
          </div>
        </div>
    </div>
  </div>
</template>

<i18n>
en:
  our-works: "Our Works"
  explain: "Plaese contact us for some demos."
  contact-us: "Contact Us"
th:
  our-works: "ผลงานของเรา"
  explain: "กรุณาติดต่อเราเพื่อสอบถามข้อมูลเพิ่มเติม"
  contact-us: "ติดต่อเรา"
</i18n>

<script>
export default {
  data () {
    return {
      activeClass: ''
    }
  },
  methods: {
    addActiveClass () {
      this.activeClass = this.$route.name
    }
  }
}
</script>


<style lang="stylus" scoped>
@import '~@/assets/styles/_variable.stylus'
// .navbar
//   opacity: 0.7

.card
  margin-top: 5%
  .card-body
    // min-height: 400px
    padding: 50px
  h1
    margin-bottom: 70px
  p
    margin: 0
  button
    margin-top: 30px
    margin-bottom: 70px

  .nav-item
    background: darken(pastel-green, 10%)
    border-radius: 0
    color: #fff
    line-height: 50px
    &:hover
      background: pastel-green
      transition-duration: 0.5s
  .active
    background: #fff
    color: darken(pastel-green, 30%)
    font-weight: bold
    &:hover
      background: none
</style>
