<template>
  <div class="row">
    <div class="sub-nav col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
      <nav class="nav flex-column">
        <a class="nav-link active" href="#">Project1</a>
        <a class="nav-link" href="#">Project2</a>
        <a class="nav-link" href="#">Project3</a>
        <a class="nav-link disabled" href="#">Project4</a>
        <a class="nav-link disabled" href="#">Project5</a>
      </nav>
    </div>
    <div class="col-12 col-sm-6 col-md-8 col-lg-9 col-xl-10">
      <image-viewer></image-viewer>
    </div>
  </div>
</template>

<script>
import ImageViewer from './_partials/ImageViewer'

export default {
  components: {
    'image-viewer': ImageViewer
  }
}
</script>


<style lang="stylus" scoped>
@import '~@/assets/styles/_variable.stylus'

.sub-nav
  background: lighten(grey-4, 70%)
  padding: 0
  .nav-link
    color: grey-2
    line-height: 40px
    padding: 10px 15%
    &:hover
      background: lighten(pastel-red, 70%)
      color: grey-3
  .active 
    color: #fff
    background: pastel-red 
    &:hover
      color: #fff
      background: pastel-red 
</style>
