<template>
  <div id="app">
    <div class="background"></div>
    <navbar></navbar>
    <transition name="fade" mode="out-in" appear>
      <router-view></router-view>
    </transition>
    </div>
  </div>
</template>

<script>
import Navbar from './components/_partials/Navbar'

export default {
  components: {
    'navbar': Navbar
  },
  beforeCreate () {
    if (this.$route.path === '/') {
      this.$router.replace({name: 'Homepage', params: {locale: this.$i18n.locale}})
    }
    if (this.$route.params.locale) {
      this.$i18n.locale = this.$route.params.locale
    }
  },
  created () {
    document.liveChat()
  }
}
</script>

<style lang="stylus">
@import '~@/assets/styles/pastel-theme.stylus'
@import url('https://fonts.googleapis.com/css?family=Quicksand')

.background
  background: url('~@/assets/bg.jpeg') center center no-repeat
  background-size: cover
  width: 100%
  height: 100%
  min-width: 100%
  min-height: 100%
  position: fixed
  z-index: 0 
  // &:before
  //   content: ''
  //   position: absolute
  //   top: 0
  //   right: 0
  //   bottom: 0
  //   left: 0
  //   background-image: linear-gradient(180deg, rgba(0,0,0,0), #002f4b, #43d0c5, #eac7fa)
  //   background-size: 100% 1000%
  //   animation: BackgroundGradient 60s ease infinite
  //   opacity: .3

// @keyframes BackgroundGradient 
//   0% 
//     background-position: 0% 0%
//   50% 
//     background-position: 100% 100%
//   100%
//     background-position: 0% 0%

.fade-enter-active, .fade-leave-active
  transition-property: opacity
  transition-duration: .25s

.fade-enter, .fade-leave-to
  opacity: 0

</style>